
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filtro Activo</h2>
<br />
<div class="col s12 row">

    <div class="">
        <div class="card-panel grey lighten-2 z-depth-3 col s2 ">
            <h5>Carlos villagran</h5>
            <img class="panel circle responsive-img" src="~/Imagenes/users.png" alt="Mi perfil" />
            Trabajo con el chavo del 8 como por muchos sños
            <div class="card-action">
                <a class="card-panel grey lighten-3 col s6" href="#">Ver perfil</a>
                <a class="card-panel grey lighten-3 col s6" href="#">Contratar</a>
            </div>
        </div>
    </div>

</div>
