@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col s12 m6">

        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/humor.jpeg"></a>
            <!--                <img class="imagen-tarjetas" src="imagenes/tarjetas/humor.jpeg">-->
            <h5 class="center titulo-tarjeta">HUMOR</h5>

        </div>


    </div>

    <div class="col s12 m6">
        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/musica.jpg"></a>

            <h5 class="center titulo-tarjeta">MÚSICA</h5>

        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m6">

        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/danza.jpg"></a>
            <!--                <img class="imagen-tarjetas" src="imagenes/tarjetas/humor.jpeg">-->
            <h5 class="center titulo-tarjeta">DANZA</h5>

        </div>


    </div>

    <div class="col s12 m6">
        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/fiestas infantiles.jpg"></a>

            <h5 class="center titulo-tarjeta">ANIMACIÓN INFANTIL</h5>

        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">

        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/actores.jpg"></a>
            <!--                <img class="imagen-tarjetas" src="imagenes/tarjetas/humor.jpeg">-->
            <h5 class="center titulo-tarjeta">ACTORES/PERSONAJES</h5>

        </div>


    </div>

    <div class="col s12 m6">
        <div class="card tarjetas">
            <a href="https://google.com"><img class="imagen-tarjetas" src="~/Imagenes/cartel.jpg"></a>

            <h5 class="center titulo-tarjeta">OTROS..</h5>

        </div>
    </div>
</div>


